[variables]
PORT = "8080"
CGO_ENABLED = "1"

[phases.setup]
nixPkgs = ["go_1_21", "gcc", "sqlite", "pkg-config"]

[phases.install]
cmds = ["go mod download"]

[phases.build]
cmds = ["go build -ldflags='-s -w' -o hub_server ."]

[start]
cmd = "./hub_server"
