services:
  - type: web
    name: nxd-server
    runtime: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: PORT
        value: 8080
    healthCheckPath: /api/health
